.social_Feed {
    background: #fff;
    .user {
        display: inline-flex;
        align-items: center;
        gap: 10px;

        width: 100%;

        padding: 10px;

        border-top: solid 1px #f5f5f5;
        border-bottom: solid 1px #f5f5f5;
        .user_image {
            height: 50px !important;
            width: 50px !important;
            overflow: hidden;

            display: block;
            background: #E6E7ED;
            text-align: center;
            align-content: center;
            align-items: center;
            border-radius: 50%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            img {
                width: inherit;
            }
        }
    }

    .content_image {
        max-height: 500px;
        width: 500px;
        overflow: hidden;
        img {
            width: inherit;
        }
    }

    .content {
        font-size: 16px;
        padding: 20px;
        margin: 0;
    }
}